/*
* Global
*/

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
html {
	font-size: 16px;
}

body {
	background-color: transparent;
	margin-top: 40px;
	margin-bottom: 80px;
	z-index: -1;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
}

img {
	width: 100%;
	height: auto;
	vertical-align: middle;
}

.other-photos {
	margin-bottom: 30px;
}

#synopsis {
	margin-bottom: 60px;
}

.borders:hover {
	outline: 10px solid #004D40;
	opacity: 1;
}

.projects {
	position: relative;
	opacity: 1;
	/* padding-bottom: 30px; */
	margin-bottom: 30px;
}

.middle {
	transition:  ease;
	opacity: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -80%);
	-ms-transform: translate(-50%, -80%)
}

.projects:hover .image {
	opacity: .1;
	transition: opacity 0.5s ease;
}

.projects:hover .middle {
	opacity: 1;
}

.text {
	font-family: 'Helvetica', sans-serif;
	color: #004D40;
	font-size: 1.7rem;
	line-height: 2.3rem;
	text-align: center;
}

.container-fluid {
	margin-top: 100px;
	padding: 33px;
}

.about {
	margin-left: -1rem;
}

p {
	font-family: 'Helvetica', monospace;
	font-size: 15px;
	margin-top: 0;
	margin-bottom: 1rem;
}

h1, h2, h3, h4, a, p {
	font-family: 'Helvetica', sans-serif;
}

a {
	color: #4E4E4E;
	padding: 0;
}

.project-title {
	font-size: 1.3rem;
	font-weight: 600;
	color: #004D40
}

article {
	padding: 0;
	margin: 0;
}

h4 {
	padding: 0;
	margin: 0;
}

.fixed-top {
	position: fixed;
	padding-top: 1rem;
}

.code-title {
	color:#004D40;
}

.nav-link {
	letter-spacing: 1px;
	padding-top: 1rem;
	padding-bottom: 0px;
	padding-right: 0;
	padding-left: 0rem;
	font-size: 1rem;
	color: #004D40;
	margin: 0;
}

div.col-1 {
	padding-bottom: 0;
	padding-top: .2rem;
}

.nav-link:hover {
	color: #00695C;
}

.github {
	font-size: 1.2rem;
}

.social-icon {
	float: right;
	padding-left: 1.5rem;
	padding-top: 1rem;
	color: #004D40;
}

.brand {
	font-size: 1.2rem;
	text-transform: uppercase;
	padding-right: 1rem;
	color: #004D40;
}

a.brand {
	letter-spacing: 1.2px;
	padding-left: 2rem;
	font-weight: 900;
}

a.brand:hover {
	letter-spacing: 1.2px;
	color: #00695C;
	/* line-height: 3rem; */
	text-decoration: none ;
}

.icons {
	margin-right: 2.4rem;
}

div.col-md-6.main-photo {
	padding-bottom: 30px;
}

/* PHONES */

@media(max-width: 768px) {
	li.ion-social-github {
		display: none !important;
	}
}

@media (max-width:768px) {
	.ion-paper-airplane {
		/* padding-top: 2px; */
		/* display: inline; */

	}
}

@media (max-width:768px) {
	li.ion-social-tumblr {
		display: none !important;
	}
}

@media (max-width:768px) {
	a.nav-link.blog {
		display: none !important;
	}
}

@media (max-width:768px) {
	.container-fluid {
		padding: 30px;
	}
}
/* @media (max-width:768px) {
	.social-icon  {
		display: none !important;
	}
} */
