/*
 * Global
 */

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
html {
	font-size: 16px;
}
/* @media (min-width:768px) {
	html {
		font-size: 20px; */
	}
}

body {
	font-size: 1em;
	font-family: 'Helvetica', sans-serif;
  margin-top: 40px;
  margin-bottom: 80px;
	margin-left: 30px;
	margin-right: 30px;
	line-height: 0;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;

}

img {
	width: 100%;
	height: auto;
  vertical-align: middle;
}


/*.img-margin {
	margin-bottom: 30px;
}*/


.borders:hover {
	outline: 10px solid mediumblue;
	opacity: 1;
}
.projects {
	position: relative;
}
.middle {
	transition:  ease;
	opacity: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -80%);
	-ms-transform: translate(-50%, -80%)
}
.projects:hover .image {
	opacity: .1;
}
.projects:hover .middle {
  opacity: 1;
}

.text {
	font-family: 'Helvetica', sans-serif;
  color: MediumBlue;
	font-size: 1.7rem;
	line-height: 2.3rem;
	text-align: center;
	border-bottom: 1px solid MediumBlue;


}

/*
 * The Grid
 */

.container-fluid {
	margin-top: 100px;
	padding: 33px;

	}

	.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
	    position: relative;
	    width: 100%;
	    min-height: 1px;
	    padding-right: 15px;
	    padding-left: 15px;
	    padding-bottom: 30px;
	}


.fixed-top {
	position: fixed;
	margin-left: 1.2rem ;
	margin-top: 2rem;
	margin-bottom: 4rem;
}
/*
 * Typography
 */


.about {
	margin-left: -1rem;
}

p {
	font-family: 'Roboto Mono', monospace;
	font-size: 15px;
	margin-top: 0;
	margin-bottom: 1rem;
}
h1, h2, h3, h4, a {
	font-family: 'Helvetica', sans-serif;
}

a {
	color: #4E4E4E;
}

.project-title {
	font-size: 1.5rem;
	font-weight: 600;
}

.code-title {
	color:MediumBlue;
}

.nav-link {
	letter-spacing: 2px;
	padding-top: .8rem;
	padding-bottom:3px;
	padding-right: 0;
	padding-left: 0;
	font-size: 1.2rem;
	color: Mediumblue;
  border-bottom: 1px solid MediumBlue !important;
}

.nav-link:hover {
	color: red;
	border-bottom: 1px solid red !important;
}

@media (max-width:768px) {
.code {
	margin-left: 1.5rem;
	}
}

.github {
	font-size: 1.2rem;
}
@media (max-width:678px) {
.social-icon {
	opacity: 0;
}
}

.social-icon{
	float: right;
	padding-left: 1.5rem;
	padding-top: 1rem;
	color: MediumBlue
}

.brand {
	font-size: 1.2rem;
	text-transform: uppercase;
	font-weight: 600;
	padding-right: 1rem;
	color: MediumBlue;
}

a.brand {
	letter-spacing: 1.2px;
	line-height: 3rem;
	/* border-bottom: 3px solid MediumBlue !important; */
}
a.brand:hover {
	letter-spacing: 1.2px;
	color: red;
	line-height: 3rem;
	text-decoration: none !important;
	border-bottom: 3px solid red !important;
}

.icons {
	margin-right: 2.4rem;
}
