


<div class="row fixed-top nav-border">
	<div class="col-6 d-flex justify-content-start">
		<article>
			<h1><a class="brand" href ="/">Gabe Tiller</a></h1>
		</article>
	</div>
	<div class="col-1 d-flex justify-content-start align-baseline">
		<article>
			<a class="nav-link active about" href="/blog/">blog</a>
		</article>
	</div>
	<div class="col-1 d-flex align-baseline">
		<article>
			<a class="nav-link active code justify-content-start" href="/code/">code</a>
		</article>
	</div>
	<div class="col-4 github">
		<ul class="icons">
			<a href="https://github.com/gabetiller"><li class="ion-social-github d-flex justify-content-end social-icon"></li></a>
			<a href="https://gabetiller.tumblr.com/"><li class="ion-social-tumblr d-flex justify-content-end social-icon"></li></a>
			<a href="mailto:gabectiller@gmail.com"<li class="ion-paper-airplane d-flex justify-content-end social-icon"></li></a>
		</ul>
	</div>
</div>

<!--<div class="col-md-1 github">
<span class="ion-social-tumblr-outline d-flex justify-content-left"></span>
</div>
<div class="col-md-1 github">
<span class="ion-paper-airplane d-flex justify-content-left"></span>
</div>-->
