<!DOCTYPE html>
<html lang="en-us">
{% include head.html %}
<body>
  <div class="container-fluid">
    {% include header.html %}
    {{ content }}
  </div>
  <!--jquery-->
  <script
  src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>
  <!--illustration-->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.5.15/p5.js"></script>
  <script src=
  "/scripts/illustrations.js"></script>
  {% include footer.html %}
</body>
</html>
